*{
    padding: 0;
    margin: 0;
}

/* navbar */
header {
    background-color: #807b7b;
}
.navbar{
    width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px auto;
    justify-content: space-between;
    padding: 22px 0;
    align-items: center;
}
.menu{
    justify-content: end;
}
.navbar .menu ul li{
    display: inline-block;
}
.navbar .menu ul li a{
    text-decoration: none;
    font-size: 23px;
    color: #ffffff;
    margin-right: 30px;
}
/* navbar */
/* banner */
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0,.5)),url("asset/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner-text{
    color: #ffffff;
    width: 52%;
}
.banner-text h1{
    font-size: 6em;
}
span{
    color: #e30707;
} 
.banner-text p{
    font-size: 24px;
    line-height: 30px;
   
}
.left-side ul li{
    font-size: 16px;
    margin-bottom: 8px;
}
.banner-text button{
    padding: 20px 40px;
    border-radius: 0;
    font-size: 17px;
    margin-top: 20px;
    transition: .5s;
}
#first-btn{
    background-color: #e30707;
    color: white;
    border: none;
}
#first-btn:hover{
    background-color: #ffffff;
    color: #e30707;
    transition: .5s;
}
#second-btn{
    color: #e30707;
    border: none;
}
#second-btn:hover{
    background-color: #e30707;
    color: #ffffff;
    transition: .5s;
}

/* banner */
/* service */
.service-section{
    background-image:linear-gradient(360deg, rgba(0, 0, 0, .9), rgba(0, 0, .1)), url("asset/image/footer-bg.png");
   color: white;
   background-repeat: no-repeat;
   background-size: cover;
  
   padding: 200px 0;
}
.service{
    width: 1180px;
    margin: auto;
    display: grid;
    grid-template-columns: 650px 350px;
   justify-content: space-between;
   align-items: center;

   
}
.left-side button{
    padding: 15px 30px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.left-side h1 {
    font-size: 40px;
}
.left-side p {
    font-size: 22px;
    margin: 17px 0;
    width: 50%;
  }
.right-side{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: rgb(0, 0, 0);
}
.service-div{
    background-color: #ffffff;
    margin: 7px;
    text-align: center;
    padding: 50px;
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
}
.service-div img{
    width: 50%;
}
/* service */