*{
    padding: 0;
    margin: 0;
}

/* navbar */
header {
    background-color: #807b7b;
}
.navbar{
    width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px auto;
    justify-content: space-between;
    padding: 22px 0;
    align-items: center;
}
.menu{
    justify-content: end;
}
.navbar .menu ul li{
    display: inline-block;
}
.navbar .menu ul li a{
    text-decoration: none;
    font-size: 23px;
    color: #ffffff;
    margin-right: 30px;
}
/* navbar */
/* banner */
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0,.4)),url("asset/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner-text{
    color: #ffffff;
    width: 52%;
}
.banner-text h1{
    font-size: 6em;
}
.banner-text span{
    color: #e30707;
} 
.banner-text p{
    font-size: 24px;
    line-height: 30px;
}
.banner-text button{
    padding: 20px 40px;
    border-radius: 0;
    font-size: 17px;
}
#first-btn{
    background-color: #e30707;
    color: white;
    border: none;
}
#second-btn{
    color: #e30707;
    border: none;
}

/* banner */





/* make website responsive */
/* ---------------------------------------for mobile */


@media screen  and (max-width:576px){
    /* navbar */
    .navbar{
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 28px 0px;
        width: 100%;
        text-align: center;
    }
    .menu{
        margin-top: 8px;
    }
    .navbar .menu ul li a{
        margin-right: 20px;
    }
    /* navbar */
}
/* ---------------------------------------for mobile */

/* ---------------------------------------------------------for teblet */
@media screen  and (min-width:577px) and  (max-width:992px){
    /* navbar */
    .navbar{
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 28px 0px;
        width: 100%;
        text-align: center;
    }
    .menu{
        margin-top: 8px;
    }
    .navbar .menu ul li a{
        margin-right: 20px;
    }
    /* navbar */
}
/* ---------------------------------------------------------for teblet */


/* make website responsive */